[include]
	path = ~/.config/git/config.local
[color]
	branch = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	fileMode = false
	excludesfile = ~/.config/git/ignore
	safecrlf = true
	autocrlf = false
[alias]
	co = checkout
	fco = !git brl | fzf | awk '{ print $2 }' | xargs git checkout
	sw = switch
	ci = commit
	st = status
	di = diff
	ad = add
	rb = rebase
	tree = log --graph --pretty=oneline --abbrev-commit --decorate --all
	br = branch
	brl = for-each-ref --sort='-authordate' --format='%(authordate:short) %(refname:short)' refs/heads
	pl = pull
	pick = cherry-pick
	export = checkout-index -a -f
	delete-merged-branches = !git branch --merged | grep -vE '\\*|main$|master$|develop$' | xargs -I % git branch -d %
	fetch-full = fetch --all --prune --tags --verbose
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[svn]
	pushmergeinfo = true
	rmdir = true
[ghq]
	root = ~/src
[diff]
	compactionHeuristic = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	conflictstyle = diff3
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[fetch]
  prune = true
