[include]
	path = .gitconfig.user
[color]
	branch = auto
	interactive = auto
	status = auto
	ui = auto
[core]
	fileMode = false
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	ad = add
	tree = log --graph --pretty=oneline --abbrev-commit --decorate --all
	br = branch
	pick = cherry-pick
	export = checkout-index -a -f
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[gc]
	auto = 0
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = ~/Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = ~/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[svn]
	pushmergeinfo = true
	rmdir = true
[ghq]
	root = ~/src
